---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Frontend Mentor | QR code component">
	<main>
		<Card
		title="Improve your front-end skills by building projects"
		body="Scan the QR code to visit Frontend Mentor and take your coding skills to the next level"
		srcImg="/public/images/image-qr-code.png"
		/>
	</main>
</Layout>


